* {
	font-size: 12px;
	font-family: JetBrainsMono;
	border: none;
	border-radius: 0;
}

window#waybar {
	background: #222222;
	color: #bbbbbb;
}

#clock,
#battery,
#backlight,
#pulseaudio {
	padding: 0 10px;
	margin: 0 4px;
}

#window,
#workspaces {
	padding: 0 0;
	margin: 0 0;
}

#workspaces button {
	padding: 0 7px;
	margin: 0;
	color: #bbbbbb;
}

#workspaces button.occupied {
	border-top: 4px solid #bbbbbb;
	margin: 0;
	padding: 0 7px;
}

#workspaces button.focused {
	border-top: 0;
	margin: 0;
	padding: 0 7px;
	color: #222222;
	background: #bbbbbb;
}

#workspaces button:hover {
	background: inherit;
	color: inherit;
	box-shadow: inherit;
	text-shadow: inherit;
}

#battery.critical:not(.charging) {
    background-color: darkred;
    color: #ffffff;
}

